@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #f3f7fd;
  color: #1f2937;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #1e3a8a;
  color: white;
}

.nav-links a {
  margin-left: 25px;
  cursor: pointer;
  color: rgb(240, 242, 245);
  text-decoration: none;
}

/* HERO */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1e3a8a;
  background-color: #1e3a8a;
  background-image: url(assets1/background.png);
}

.hero-content {
  max-width: 700px;
}

/* SECTIONS */
.section {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.section.light {
  background-color: #4d6cc1;
}

#services h2 {
  color: white;
}

.logo img {
  height: 200px;  /* adjust size */
  width: 20;
  vertical-align: middle;
}

.logo span {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  vertical-align: middle;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.founders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card,
.founder-card {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.founder-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
}

.btn-secondary {
  border-width: 2px;
  border-style: solid;
  border-color: #1e3a8a;
  color: #1e3a8a;
}

/* CONTACT FORM */
.contact-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

/* PAGE SWITCHING */
.page {
  display: none;
}

.page.active {
  display: block;
}